<main class="page-gallery">
    <div class="page-gallery__container">
        \{{#each images}}
            <img class="page-gallery__image" src="\{{ src }}" alt="\{{ name }}">
        \{{/each}}
    </div>
</main>