<header class="page-header">
    <a href="/">
        <img src="/resources/header.png" alt="\{{ site_name }}" class="page-header__image">
    </a>
    <p class="page-header__description">\{{ site_description }}</p>
</header>