<nav class="page-nav">
    <ul class="page-nav__list">
        \{{#each pages}}
        <li class="page-nav__item">
            <a href="\{{ href }}" title="\{{ text }}">\{{ text }}</a>
        </li>
        \{{/each}}
    </ul>
</nav>